* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 35em;
  height: 41em;
}

.nav {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #0f0303ec;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: 14px;
  top: 0px;
  left: 0px;
}

.colorPickerPanel {
  position: relative;
  z-index: 1;
}
.panelHead {
  font-size: 15px;
  align-content: center;
  padding: 1.2em;
  line-height: ce;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  background: #3367d6;
  align-items: center;
  border-radius: 2em;
  color: white;
  z-index: 3;
}
.panelHead input {
  border: 2px solid #343433;
  margin-left: 1em;
  width: 60%;
  height: 3em;
  border-radius: 10px;
}

.panelBody {
  width: 33em;
  height: 20em;
  background: #517bd6;
  top: 4em;
  position: absolute;
  margin-left: 1em;
  margin-right: 1em;
  z-index: -1;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hexContainer {
  display: inline;
  grid-column: 1/5;
  grid-row: 2/2;
  padding: 4px;
}

.hexContainer input {
  height: 2.5em;
  border-radius: 1em;
  padding-left: 1em;
  font-size: 15px;
  font-weight: 500;
  border: none;
  width: 10em;
  text-transform: uppercase;
}

.hexContainer label {
  font-size: 1.5em;
  color: white;
  font-weight: 600;
}

.fa-copy:before,
.fa-files-o:before {
  position: fixed;
  top: 28%;
  left: 12em;
  font-weight: bolder;
  cursor: pointer;
  font-size: 15px;
}

.rgbContainer {
  display: inline;
  grid-column: 1/6;
  grid-row: 3/3;
  padding: 4px;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
}

input#rvalue,
input#gvalue,
input#bvalue {
  width: 3.3em;
  height: 1.9em;
  padding-left: 4px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  margin-left: 0.5em;
}
